

body {
    margin:0;
    width: 100%;
    font-size: 28px;
    background-color: rgb(0, 12, 36);
}

section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 516px;
    max-width: 516px;
    margin-top: 120px;
    margin-left:auto;
    margin-right:auto;
}

h1 {
    margin-bottom: 50px;
    color: white;
}

p {
    width: 516px;
    color: white;
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    color: white;
    width:516px;
    display: block;
}

/* Dette er for å gjøre skriften hvit */
a {
    color:white
}

/* Dette er for å gjøre bilde på toppen rundt */
img {
    border-radius: 100%;
}